<mat-tab-group (selectedIndexChange)="tabChanged($event)" [selectedIndex]="3">
    <mat-tab label="circles">
        <ng-template matTabContent>
            <svg #svg1 [attr.height]="height" [attr.width]="width" style="background: url('/images/background.svg')">
                <g [zoomableOf]="svg1">
                    <g [link]="link" *ngFor="let link of links"></g>
                    <g [node]="node" *ngFor="let node of nodes">
                        <g [menu1]="4" (menuClicked)="menuItemClicked($event)"></g>
                    </g>
                </g>
            </svg>
        </ng-template>
    </mat-tab>
    <mat-tab label="partitions - seperated">
        <ng-template matTabContent>
            <svg #svg2 [attr.height]="height" [attr.width]="width" style="background: url('/images/background.svg')">
                <g [zoomableOf]="svg2">
                    <g [link]="link" *ngFor="let link of links"></g>
                    <g [node]="node" *ngFor="let node of nodes">
                        <g [menu2]="4" (menuClicked)="menuItemClicked($event)"></g>
                    </g>
                </g>
            </svg>
        </ng-template>
    </mat-tab>
    <mat-tab label="Surface dial - circles">
        <ng-template matTabContent>
            <svg #svg3 [attr.height]="height" [attr.width]="width" style="background: url('/images/background.svg')">
                <g [zoomableOf]="svg3">
                    <g [link]="link" *ngFor="let link of links"></g>
                    <!-- <g [node]="node" [draggableNode]="node" [graph]="force" *ngFor="let node of nodes"></g> -->
                    <g [node]="node" *ngFor="let node of nodes">
                        <g [menu3]="4" (menuClicked)="menuItemClicked($event)"></g>
                    </g>
                </g>
            </svg>
        </ng-template>
    </mat-tab>
    <mat-tab label="Surface dial - partitions">
        <ng-template matTabContent>
            <svg #svg3 [attr.height]="height" [attr.width]="width" style="background: url('/images/background.svg')">
                <g [zoomableOf]="svg3">
                    <g [link]="link" *ngFor="let link of links"></g>
                    <!-- <g [node]="node" [draggableNode]="node" [graph]="force" *ngFor="let node of nodes"></g> -->
                    <g [node]="node" *ngFor="let node of nodes">
                        <g [menu4]="4" (menuClicked)="menuItemClicked($event)"></g>
                    </g>
                </g>
            </svg>
        </ng-template>
    </mat-tab>
</mat-tab-group>